name: Continuous Integration

on:
  push:
    branches:
      - develop
      - feature/**
      - hotfix

jobs:
    build:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout
              uses: actions/checkout@v5

            - name: Build da Aplicacao
              run: mvn clean package -DskipTests
              
            - name: Execução de Testes Unitários
              run: mvn test